<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/basic}">
	<head>
		<title>비밀번호 찾기</title>
		<style>
			div > img {
				width: 300px;
				display: block;
				margin: 0px auto;
				cursor: pointer;
			}
		</style>
	</head>
	<th:block layout:fragment="modal">
		<div id="checkModal" class="modal fade" tabindex = "-1" role = "dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
		 			<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" style="font-size:40px">&times;</button>
						<h4 class="modal-title" style="font-size:25px">이메일 인증</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label class="col-form-label">이메일을 확인해주세요.</label>
							<input type="text" class="form-control" id="modalCode" placeholder="인증코드 입력" />
						</div>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-primary" onclick="emailCodeCheck()" value="확인" />
					</div>
				</div>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="content">
		<div class="clearfix">
			<div class="input-group">
				<span class="input-group-addon">
					<label style="margin:0px" for="email">
						<i class="glyphicon glyphicon-envelope"></i>
					</label>
				</span>
				<input type="text" class="form-control" id="email" name="email"
					placeholder="찾으실 이메일을 입력해주세요." oninput="noSpaceForm(this)">
				<span class="input-group-btn">
					<input type="button" class="btn btn-success" onclick="sendEmail()" value="인증" />
				</span>
			</div>
			<span id="valid_login" th:text="${loginFailMsg}"></span>
		</div>
	</th:block>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			const sendEmail=()=>{
				$("#valid_login").text("");
				let email = $("#email");
				let valid = "";
				if (email.val() === "") {
					valid = "이메일을 입력하세요.";
				}else if (!emailCheck(email.val())) {
					valid = "이메일 형식에 맞지 않습니다.";
				}else{
					let check = checkEmailDuplicate();
					if(check == 0){
						valid = "존재하지 않는 이메일입니다.";
					}else if(check == 2){
						valid = "탈퇴한 이메일입니다.";
					}
				}
				if(valid === ""){
					$("#checkModal").modal("toggle");
					$("#modalCode").val("");
					
					let uri = /*[[ @{/member/emailSend} ]]*/"";
					let headers = {};
					headers["X-CSRF-TOKEN"] = /*[[ ${_csrf.token} ]]*/"";
					headers["X-HTTP-Method-Override"] = "POST";
					let emailData = "email=" + email.val();

					$.ajax({
						url : uri,
						type : "POST",
						headers : headers,
						data : emailData,
						error : function(request, status, error) {
							console.log("code:" + request.status + "\n" + "message:"
									+ request.responseText + "\n" + "error:" + error);
							alert("에러가 발생하였습니다.");
							location.reload();
						}
					});
				}else{
					$("#valid_login").text(valid);
					email.focus();
				}
			}
	
			const emailCodeCheck=()=>{
				let code = $("#modalCode");
				if (code.val() === "") {
					code.focus();
					return;
				}
	
				let uri = /*[[ @{/member/emailCheck} ]]*/"";
				let headers = {};
				headers["X-CSRF-TOKEN"] = /*[[ ${_csrf.token} ]]*/"";
				headers["X-HTTP-Method-Override"] = "POST";
				let emailData = "emailCode=" + code.val() + "&email=" + $("#email").val()

				$.ajax({
					url : uri,
					type : "POST",
					headers : headers,
					data : emailData,
					success : function(response) {
						if (response) {
							uri = /*[[ @{/member/passwordReset} ]]*/"";
							emailData = "email=" + $("#email").val();

							$.ajax({
								url : uri,
								type : "POST",
								headers : headers,
								data : emailData,
								success : function(response) {
									alert("변경된 비밀번호는 "+response+"입니다.");
									location.href=/*[[ @{/member/login} ]]*/"";
								},
								error : function(request, status, error) {
									console.log("code:" + request.status + "\n" + "message:"
											+ request.responseText + "\n" + "error:" + error);
									alert("에러가 발생하였습니다.");
									location.reload();
								}
							});
						}else{
							$("#modalCode").val("");
							$("#modalCode").focus();
							alert("올바르지 않는 코드입니다.");
						}
					},
					error : function(request, status, error) {
						console.log("code:" + request.status + "\n" + "message:"
								+ request.responseText + "\n" + "error:" + error);
						alert("에러가 발생하였습니다.");
						location.reload();
					}
				});
			}
	
			const checkEmailDuplicate=()=>{
				let email = $("#email").val();
				let uri = /*[[ @{/member/checkEmailDuplicate/} ]]*/"";
				uri += email;
				uri += "/exists";
				let headers = {};
				headers["X-CSRF-TOKEN"] = /*[[ ${_csrf.token} ]]*/"";
				headers["X-HTTP-Method-Override"] = "POST";
	
				let value = 0;
				$.ajax({
					url : uri,
					type : "POST",
					headers : headers,
					async : false,
					success : function(response) {
						value = response;
					},
					error : function(request, status, error) {
						console.log("code:" + request.status + "\n" + "message:"
								+ request.responseText + "\n" + "error:" + error);
						alert("에러가 발생하였습니다.");
						location.reload();
						//value = 0;
					}
				});
				
				return value;
			}
            
            $("#main input").keydown(function(key) {
                if (key.keyCode === 13) {
                	sendEmail();
                }
            });
            
            $("#checkModal input").keydown(function(key) {
                if (key.keyCode === 13) {
                	emailCodeCheck();
                }
            });
		</script>
	</th:block>
</html>