<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{thymeleaf/layout/body}">
	<th:block layout:fragment="content">
		<div class="form-horizontal">
			<div class="form-group">
				<label for="password" class="control-label">비밀번호</label>
				<div>
					<input type="password" maxlength="20" id="password" name="password"
						class="form-control" placeholder="비밀번호를 입력해 주세요."
						oninput="noSpaceForm(this)" />
				</div>
			</div>
		</div>
		<div class="text-center table-btn">
			<input type="button" class="btn btn-default" onclick="backwardBoard()" value="뒤로가기" />
			<input type="button" class="btn btn-primary" onclick="viewBoard()" value="입력" />
		</div>
	</th:block>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			const backwardBoard=()=>{
				if (document.referrer.includes("write")) {
					location.href = /*[[ @{/oard/list} ]]*/"";
				}else if(document.referrer.includes("viewCount")) {
					window.history.go(-2);
				}else{
					window.history.back();
				}
			}
			
			const viewBoard=()=>{
				let uri = /*[[ @{/board/checkPassword/} + ${idx} ]]*/"";
				let headers = {};
				headers["X-CSRF-TOKEN"] = /*[[ ${_csrf.token} ]]*/"";
				headers["X-HTTP-Method-Override"] = "POST";
				let password = "password=" + $("#password").val();
	
				$.ajax({
					url : uri,
					type : "POST",
					headers : headers,
					data : password,
					success : function(response) {
						if (!response) {
							alert("비밀번호가 틀렸습니다.");
						}else{
							uri = /*[[ @{/board/viewMain} ]]*/"";
							let idx = "idx=[[ ${idx} ]]";
							
							$.ajax({
								url : uri,
								type : "POST",
								headers : headers,
								data : idx,
								success : function(response) {
									$("body").children().remove();
									$("body").html(response);
								},
								error : function(request, status, error) {
									console.log("code:" + request.status + "\n" + "message:"
											+ request.responseText + "\n" + "error:" + error);
									alert("에러가 발생하였습니다.");
									location.reload();
								}
							});
						}
					},
					error : function(request, status, error) {
						console.log("code:" + request.status + "\n" + "message:"
								+ request.responseText + "\n" + "error:" + error);
						alert("에러가 발생하였습니다.");
						location.reload();
					}
				});
			}
		</script>
	</th:block>
</html>